<!DOCTYPE html>
<html lang="en">
<head>
    <title>dockerwm</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <script type="text/javascript" src="/static/js/lib/require.js"></script>
</head>
<body>
    <div class="window" id="dockerwm-console">
        <div class="header">Console</div>
        <div class="content"></div>
    </div>
    
    <div class="window" id="dockerwm-container-template">
        <div class="header">Container Template</div>
        <div class="content"></div>
    </div>

    <script type="text/javascript" src="/static/js/app.js"></script>
</body>
</html>